.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #a0bacc;
}
.box {
  width: 300px;
  height: 300px;
  background: #015d9280;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  cursor: pointer;
  transition: 0.5s;
}
.box:hover {
  background: #015d92;
  box-shadow: 0 0 30px #000;
}
.info {
  min-height: 90.5vh;
  display: flex;
  background: #bce6ff;
}
.return-btn {
}
